@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-cover bg-center;
    /* background-image: url('/assets/bg-2.avif'); */
    background-size: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}